<!DOCTYPE html>

<html>

<head>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>

<body>
    <div style="text-align: center;">
        <h2>Image Mixer</h2>
        with
        <h3>Neural Style Transfer</h3>
    </div>
    <p style="text-align: center;">
        Takes two images, a content image and a style image and applies the latter's
        style to the former
    </p>
    {% block content %}
    {% endblock %}
</body>

{% block footer %}
{% endblock %}

</html>